<div class="container">
  <div class="slider">
    <ul>
      <li>
        <div class="img-nueva">
          <img
            src="https://i.im.ge/2022/10/22/2P2WcG.Planes-Salud-Clinica-Veterinaria-Sedavi-637x478-1.jpg"
            alt=""
          />
        </div>
      </li>
      <li>
        <div class="img-nueva">
          <img
            src="https://i.im.ge/2022/10/22/2PSXSY.pqs-franquicia-veterinaria-peru.jpg"
            alt=""
          />
        </div>
      </li>
      <li>
        <div class="img-nueva">
          <img
            src="https://i.im.ge/2022/10/22/2PSSMP.5ec1c545d9796c6a40305a87.jpg"
            alt=""
          />
        </div>
      </li>
      <li>
        <div class="img-nueva">
          <img src="https://i.im.ge/2022/10/22/2PEai6.unknown.png" alt="" />
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="https://i.im.ge/2022/10/22/2PEprS.unknown.png"
          />
        </div>

        <mat-card-content>
          <div class="link-btn">
            <h1>SERVICIO</h1>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="https://i.im.ge/2022/10/23/2tsaHf.raza-de-perro-pastor-aleman-m.jpg"
          />
        </div>

        <mat-card-content>
          <div class="link-btn">
            <h1>NOSOTROS</h1>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4 mb-3">
      <mat-card class="order-card">
        <div>
          <img
            mat-card-image
            src="https://i.im.ge/2022/10/23/2tsjaG.estudiar-veterinaria-en-peru.jpg"
          />
        </div>

        <mat-card-content>
          <button md-button (click)="onSubmit()" class="link-btn">
            <h1>HISTORIA CLINICA</h1>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
